default: &default
  host: <%%= ENV.fetch('RABBITMQ_HOST') { 'localhost' } %>
  port: <%%= ENV.fetch('RABBITMQ_PORT') { '5672' } %>
  ssl: false
  vhost: '/'
  user: guest
  pass: guest
  heartbeat: server # will use RabbitMQ setting
  frame_max:  131072
  auth_mechanism: PLAIN

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  user: <%%= ENV['RABBITMQ_USER'] %>
  pass: <%%= ENV['RABBITMQ_PASSWORD'] %>
