class <%= class_name %>Service < ::BunnyOnRails::BaseChannelService
  channel { ApplicationGateway.connection.create_channel }
  exchange { channel.exchange("<%= singular_name %>") }
  queue { channel.queue }

  on_recieve do |message, _properties, _delivery_info|
    puts "Recieved message #{message}"
  end
end
